.footer
{
    background-color: #383838;
    /* background-color: #F4F4F4; */
    text-align: center;
    padding: 20px;
}
.footer-logo i
{
    font-size: 16pt; 
    color: white;
    margin: 0 10px;
    transition: all 0.3s;
}
.footer-logo i:hover
{
    opacity: 0.5;
}
.footer p
{
    font-weight: 500;
    font-size: 10pt;
    color: white;
}